/*Class for purple header3*/
.notClass {
  color: purple;
  text-align: center;
}

#id {
  color: green;
  text-align: center;
}

* {
  font-family: Times New Roman;
}

/*make unordered lists magenta and changes the opacity*/
ul {
  color: magenta;
  opacity: .6;
}

/*makes background of google link green anc changes font*/
a[href="www.google.com"]{
  background:green;
  font-family: serif;
}

a:visited{
  color:blue;
}

/*When you hover over H1, You'll get a heading that is pink and aligned in the center*/
h1:hover{
  color: pink;
  text-align: center;
}

h2, h3 {
  font-family: monospace;
}

/*lists will have circles*/
li {
  list-style-type: circle;
}

li li {
  list-style-type: lower-alpha; 
}

details > summary {
  color: orange;
}

p + strong {
  font-family: Times;
  color: pink;
}

p ~ code {
  background: red;
}

.notClass.classBorder {
  color: orange;
}
