/*Class for purple header3*/
.notClass {
  color: rgba(145, 61, 136, 1);
  text-align: center;
  font-size: 1cm;
}

#id {
  color: #AAA;
  text-align: center;
  font-size: 15mm;
}

* {
  font-family: Times New Roman;
}

/*make unordered lists magenta and changes the opacity*/
ul {
  color: magenta;
  opacity: .6;
}

/*makes background of google link green anc changes font*/
a[href="https://www.google.com"]{
  background: rgb(0,255,0);
  font-family: serif;
}

a:visited{
  color: red;
}

/*When you hover over H1, You'll get a heading that is pink and aligned in the center*/
h1:hover{
  color: pink;
  text-align: center;
  font-size: 1.5em;
}

h2, h3 {
  font-family: monospace;
  font-size: 1.1ch;
}

li li {
  list-style-type: circle; 
  font-size: 1.1%;
}

body {
  background-color: white;
  border-style: dotted;
  border-color: black;
  border-width: thin;
  border-radius: 6px;
}

details > summary {
  color: hsla(33, 96, 63, 1);
}

p + strong {
  font-family: Times;
  color: pink;
}

p ~ code {
  background: hsl(14, 79, 44);
}

.notClass.classBorder {
  color: #00ff00;
}
